@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
:root {
    --primary-color: #fb4700;
    --secondary-color: #42CAFD;
    --accent1-color: #28536b;
    --accent2-color: #c2948a;

    --heading-font: 'Inconsolata', serif;
    --paragraph-font: 'Inconsolata', serif;

    --nav-background-color:#42cafd;
    --nav-link-color:#fb4700;
    --nav-hover-link-color:#28536b;
    --nav-hover-background-color:#c2948a;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 2px;
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 2px;
    background-color: var(--accent1-color);
}
p {
    padding: 1px;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
}
article {
    font-family: var(--paragraph-font);
    position: absolute;
}
article img {
    float: right;
}
