@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
:root {
    --primary-color: #fb4700;
    --secondary-color: #42CAFD;
    --accent1-color: #28536b;
    --accent2-color: #c2948a;

    --heading-font: 'Inconsolata', serif;
    --paragraph-font: 'Inconsolata', serif;

    --nav-background-color:#42cafd;
    --nav-link-color:#fb4700;
    --nav-hover-link-color:#28536b;
    --nav-hover-background-color:#c2948a;
}
body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 20px;
    background-color:var(--secondary-color);
} 


h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 10px;
}
h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero .heroimg {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
article {
    font-family: var(--heading-font);
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
article img {
    float: right;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}